<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.1/dist/paper.min.css">
  <link rel="icon" href="/images/icon.svg">
  <title>PastySite</title>
</head>
<body>
  <header>
    <nav class="border fixed split-nav">
      <div class="nav-brand">
        <h3><a href="/">PastySite</a></h3>
      </div>
      <div class="collapsible">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label for="collapsible1">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </label>
        <div class="collapsible-body">
          <ul class="inline">
            <li><a href="/">Uusi</a></li>
            <li><a href="/random">Satunnainen</a></li>
            <li><a href="#">Github</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="sm-12 md-6 lg-8 col">
      <div class="paper container">
        <h2>Uusi Pasty</h2>
        <% if (locals.ilmoitus) { %>
          <div class="alert alert-danger"><%= ilmoitus %></div>
        <% } %>
        <form action="/uusi" method="post">
          <fieldset class="form-group">

            <label for="nimi">Nimi:</label>
            <% if (locals.nimi) { %>
              <input type="text" placeholder="Hacks.py" id="nimi" name="nimi" value="<%= nimi %>">
            <% } else { %>
              <input type="text" placeholder="Hacks.py" id="nimi" name="nimi" value="">
            <% } %>

            <br>
            <label for="teksti">Teksti</label>

            <% if (locals.teksti) { %>
              <textarea id="teksti" style="box-sizing:border-box; width: 100%; height: 400px;" placeholder="print('COMPUTER HAS BEEN HACKED')" class="prism-live" name="teksti"><%= teksti %></textarea>
            <% } else {%>
              <textarea id="teksti" style="box-sizing:border-box; width: 100%; height: 400px;" placeholder="print('COMPUTER HAS BEEN HACKED')" class="prism-live" name="teksti"></textarea>
            <% } %>
            <br>
            <!--<label for="private" class="paper-check">
              <input type="checkbox" name="private" id="private" value="private"> <span>Yksityinen</span>
            </label>-->

            <button class="btn-secondary">Luo</button>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="sm-12 md-6 lg-4 col">
      <div class="paper container">
        <h1><!--<img src="/images/icon.svg" width="60" height="60" style="display: inline-block;"> -->PastySite</h1>
        <p>Maukkain pastebin -sivusto maailmassa. Rekisteröitymistä ei tarvita. Ei mainoksia. Täysin anonyymia. Älä jaa kuitenkaan mitään tärkeää täällä.</p>
      </div>
      <br>
      <!--<div class="paper container">
        <h2>Uunista tulleet</h2>
        <ul>
          <li>Do this</li>
          <li>Then this</li>
          <li>Finally this</li>
          <li>Then we'll go one deeper
        </ul>
      </div>-->
    </div>
  </div>
</body>
</html>
